<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>BRAIN CRM</title>
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link type="text/css" rel="stylesheet" th:href="@{/bootstrap/bootstrap.min.css}"/>
    <link type="text/css" rel="stylesheet" th:href="@{/css/main.css}"/>
    <link type="text/css" rel="stylesheet" th:href="@{/css/side_bar.css}"/>
    <link type="text/css" rel="stylesheet" th:href="@{/css/top_bar.css}"/>
    <link type="text/css" rel="stylesheet" th:href="@{/css/dashboard/profile.css}"/>
    <link type="text/css" rel="stylesheet" th:href="@{/css/file_upload.css}"/>
    <link type="text/css" rel="stylesheet" th:href="@{/css/multi_select.css}"/>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="dashboard/../../static/css/admin/profile.css">
    <link rel="stylesheet" href="../../../static/css/file_upload.css">

</head>
<body>


<div class="wrapper d-flex align-items-stretch">

    <!-- Sidebar -->
    <div th:replace="~{dashboard/fragments/sidebar::sidebar}"></div>
    <!-- End of Sidebar -->

    <!-- Page Content  -->
    <div id="content" class="">

        <!-- Topbar -->
        <ldiv th:replace="~{dashboard/fragments/topbar::topbar('Profile')}"></ldiv>
        <!-- End of Topbar -->

        <!-- Page -->
        <div class="main_body p-3">
            <div onclick="goBack()" class="btn btn-primary"> &#x2190 </div>

            <div class="card with-50 margin-auto">
                <div class="card-body">
                    <h1 class="h3 mb-2 text-gray-800">Profile Added</h1>
                    <form method="post"
                          th:action="${isUpdate} ? @{/admin-profile/update/{profileId}(profileId=${profile.id})} : @{/admin-profile/add}"
                          th:object="${profile}"
                          enctype="multipart/form-data" autocomplete="off">

                        <br>
                        <div class="d-flex gap-10">
                            <div class="flex-grow-1">
                                <label for="file-upload-input-id">Фото</label>
                                <div class="form-image-block">
                                    <img src="" th:src="${profile.photoUrl != null ? profile.photoUrl : ''}" id="file-upload-img-id" alt="">
                                </div>
                                <div class="file-input-wrapper">
                                    <input type="file" id="file-upload-input-id" name="file" accept="image/*" hidden/>
                                    <label for="file-upload-input-id">Choose file</label>
                                </div>
                            </div>
                            <div class="flex-grow-1">
                                <div class=" pb-2">
                                    <label for="name">Name:</label>
                                    <input type="text" id="name" class="form-control" name="name" placeholder="name"
                                           th:field="*{name}" required>
                                    <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
                                </div>
                                <div class=" pb-2">
                                    <label for="surname">Surname:</label>
                                    <input type="text" id="surname" class="form-control" name="surname" placeholder="surname"
                                           th:field="*{surname}" required>
                                    <div th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}"></div>
                                </div>
                                <div class=" pb-2">
                                    <label for="phone">Phone Number:</label>
                                    <input type="tel" id="phone" class="form-control" name="phone" placeholder="phone"
                                           th:field="*{phone}" required>
                                    <div th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}"></div>
                                </div>
                            </div>
                        </div>
                        <div class=" pb-2">
                            <label for="password">Password:</label>
                            <input type="password" id="password" class="form-control" name="password"
                                   th:disabled="${isUpdate}"
                                   placeholder="password"
                                   th:field="*{password}" required>
                            <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
                        </div>
                        <div class=" pb-2">
                            <label for="role">Role</label>
                            <select id="role"  name="faculty" th:field="*{roles}" class="custom-select" multiple onchange="toggleSubjectField()">
                                <option value="ROLE_ADMIN">ADMIN</option>
                                <option value="ROLE_COMPANY_MANAGER">COMPANY MANAGER</option>
                                <option value="ROLE_BRANCH_MANAGER">COMPANY MANAGER</option>
                                <option value="ROLE_TEACHER">TEACHER</option>
                                <option value="ROLE_STAFF">ROLE_STAFF</option>
                                <option value="ROLE_USER">ROLE_USER</option>
                            </select>
                        </div>
                        <div class=" ">
                            <div class="row justify-content-end">
                                <div class="col-2">
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-primary"
                                                th:text="${isUpdate ? 'Update': 'Save'}">Save
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- Page  End-->
    </div>
</div>


<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/jquery.js}"></script>
<script th:src="@{/js/popper.js}"></script>
<script th:src="@{/js/main.js}"></script>
<script th:src="@{/js/sidebar.js}"></script>
<script th:src="@{/js/file_upload.js}"></script>
<script th:src="@{/js/multi_select.js}"></script>

<script>
    function toggleSubjectField() {
        var roleSelect = document.getElementById('role');
        var subjectDiv = document.getElementById('subjectDiv');
        var subjectSelect = document.getElementById('subject');
        var selectedRoles = Array.from(roleSelect.options).filter(option => option.selected).map(option => option.value);

        if (selectedRoles.includes('ROLE_TEACHER')) {
            subjectDiv.style.display = 'block';
            subjectSelect.setAttribute('required', 'required');
        } else {
            subjectDiv.style.display = 'none';
            subjectSelect.removeAttribute('required');
        }
    }

    document.addEventListener('DOMContentLoaded', function () {
        toggleSubjectField();
    });
</script>

</body>
</html>