<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Student List</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="shortcut icon" th:src="@{/img/favicon.png}"/>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap" rel="stylesheet">
    <link type="text/css" rel="stylesheet" th:href="@{/css/general_light_style.css}"/>
    <link type="text/css" rel="stylesheet" th:href="@{/css/main.css}"/>
    <link type="text/css" rel="stylesheet" th:href="@{/css/dashboard/student.css}"/>
    <link type="text/css" rel="stylesheet" th:href="@{/css/file_upload.css}"/>
    <link type="text/css" rel="stylesheet" th:href="@{/css/date-picker.css}"/>
    <style>
        input::placeholder {
            color: rgba(0, 0, 0, 0.2);
        }
    </style>
    <title>Student Add</title>
</head>
<body>


<div class="wrapper">
    <!-- Sidebar -->
    <div th:replace="~{dashboard/fragments/sidebar2::sidebar}"></div>
    <!-- End of Sidebar -->

    <!-- Main -->
    <div class="main">
        <!-- Navbar -->
        <footer th:replace="~{dashboard/fragments/navbar::navbar}"></footer>
        <!-- END Navbar -->

        <!-- Content -->
        <main class="content p-2">
            <div class="container-fluid p-0">

                <div class="d-flex gap-10 py-1 align-items-start">
                    <div onclick="goBack()" class="btn btn-sm btn-primary"> &#x2190</div>
                    <div class="h3">Student</div>
                </div>

                <div class="row justify-content-center">
                    <div class="col-8">
                        <div class="card">
                            <div class="card-body pt-2 px-1">
                                <h3 class="mb-2 text-center" th:text="${isUpdate ? 'Student Edit': 'Student Added'}">Student
                                    Added</h3>
                                <form method="post"
                                      th:action="${isUpdate} ? @{/student/update/{studentId}(studentId=${student.id})} : @{/student/add}"
                                      th:object="${student}"
                                      enctype="multipart/form-data" autocomplete="off">
                                    <br>
                                    <div class="row">
                                        <div class="col-4">
                                            <div class="form-image-block">
                                                <img src="" th:src="${student.photoUrl != null ? student.photoUrl : ''}"
                                                     id="file-upload-img-id" alt="">
                                            </div>
                                            <div class="file-input-wrapper">
                                                <input type="file" id="file-upload-input-id" name="file"
                                                       accept="image/*"
                                                       hidden/>
                                                <label for="file-upload-input-id">Choose file</label>
                                            </div>
                                        </div>
                                        <div class="col-8">
                                            <div class="flex-grow-1">
                                                <div class=" pb-2">
                                                    <label for="name">Name:</label>
                                                    <input type="text" id="name" class="form-control" name="name"
                                                           placeholder="name"
                                                           th:field="*{name}" required>
                                                    <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
                                                </div>
                                                <div class=" pb-2">
                                                    <label for="surname">Surname:</label>
                                                    <input type="text" id="surname" class="form-control" name="surname"
                                                           placeholder="surname"
                                                           th:field="*{surname}" required>
                                                    <div th:if="${#fields.hasErrors('surname')}"
                                                         th:errors="*{surname}"></div>
                                                </div>
                                                <div class=" pb-2">
                                                    <label for="phone">Phone Number:</label>
                                                    <input type="tel" id="phone" class="form-control" name="phone"
                                                           placeholder="phone"
                                                           th:field="*{phone}" required>
                                                    <div th:if="${#fields.hasErrors('phone')}"
                                                         th:errors="*{phone}"></div>
                                                </div>
                                                <div class=" pb-2">
                                                    <label for="password">Password:</label>
                                                    <input type="password" id="password" class="form-control"
                                                           name="password"
                                                           th:disabled="${isUpdate}"
                                                           placeholder="password"
                                                           th:field="*{password}" required>
                                                    <div th:if="${#fields.hasErrors('password')}"
                                                         th:errors="*{password}"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row pt-2">
                                        <div class="col-6 pb-2">
                                            <label for="parentPhone"> Parent phone number:</label>
                                            <input type="tel" id="parentPhone" class="form-control"
                                                   name="parentPhone"
                                                   placeholder="Parent phone number"
                                                   th:field="*{parentPhone}" required>
                                            <div th:if="${#fields.hasErrors('parentPhone')}"
                                                 th:errors="*{parentPhone}"></div>
                                        </div>
                                        <div class="col-6 pb-2">
                                            <label for="address">Address:</label>
                                            <input type="text" id="address" class="form-control" name="address"
                                                   placeholder="Address"
                                                   th:field="*{address}" required>
                                            <div th:if="${#fields.hasErrors('address')}"
                                                 th:errors="*{address}"></div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-6 pb-2">
                                            <label class="form-label" for="dataOfBirth">Birthdate:</label>
                                            <input type="date" class="form-control" id="dataOfBirth" name="date"
                                                   th:field="*{dateOfBirth}" th:data-value="*{dateOfBirth}">
                                        </div>
                                        <div class="col-6 pb-2">
                                            <label class="form-label" for="gender">Gender</label>
                                            <select id="gender" name="role" th:field="*{gender}"
                                                    class="form-select mb-2 me-sm-2"
                                                    aria-label="form-select-sm example">
                                                <option th:value="${'NON'}">...</option>
                                                <option th:value="${'MALE'}">Male</option>
                                                <option th:value="${'FEMALE'}">Female</option>
                                            </select>
                                            <div th:if="${#fields.hasErrors('gender')}" th:errors="*{gender}"></div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div sec:authorize="hasRole('ROLE_COMPANY_MANAGER')" class="col-6  pb-2">
                                            <label class="form-label" for="branch_select_id">Branch:</label>
                                            <select id="branch_select_id" name="branches" th:field="*{branchId}"
                                                    required
                                                    class="form-select">
                                                <option selected disabled value="0">...</option>
                                                <option th:each="branch:${branches}" th:value="${branch.id}"
                                                        th:text="${#strings.concat(branch.branchName,' - ',branch.branchAddress,' - ',' (',branch.contact,')')}"></option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-12 mt-2">
                                            <div class="d-flex justify-content-end">
                                                <button type="submit" class="btn btn-primary"
                                                        th:text="${isUpdate ? 'Update': 'Save'}">Save
                                                </button>
                                            </div>
                                        </div>
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </main>
        <!-- End Content -->

        <!-- Footer -->
        <footer th:replace="~{dashboard/fragments/footer::footer}"></footer>
        <!-- End Footer -->
    </div>
    <!-- End Main -->
</div>


<script th:src="@{/js/general.js}"></script>
<script th:src="@{/js/app.js}"></script>
<script th:src="@{/js/main.js}"></script>
<script th:src="@{/js/file_upload.js}"></script>


</body>
</html>