<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Student Details</title>
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../../../static/css/dashboard/student.css">

    <link rel="stylesheet" href="../../../static/css/dashboard/student.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

    <link type="text/css" rel="stylesheet" th:href="@{/bootstrap/bootstrap.min.css}"/>
    <link type="text/css" rel="stylesheet" th:href="@{/css/main.css}"/>
    <link type="text/css" rel="stylesheet" th:href="@{/css/side_bar.css}"/>
    <link type="text/css" rel="stylesheet" th:href="@{/css/top_bar.css}"/>
    <link type="text/css" rel="stylesheet" th:href="@{/css/dashboard/student.css}"/>

</head>

<body>

<div class="wrapper d-flex align-items-stretch">

    <!-- Sidebar -->
    <div th:replace="~{dashboard/fragments/sidebar::sidebar}"></div>
    <!-- End of Sidebar -->

    <!-- Page Content  -->
    <div id="content" class="">

        <!-- Topbar -->
        <div th:replace="~{dashboard/fragments/topbar::topbar('Student Group')}"></div>
        <!-- End of Topbar -->

        <!-- Page -->
        <div class="main_body px-1 pt-1">
            <div class="my-3">
                <div onclick="goBack()" class="btn btn-primary"> &#x2190</div>
            </div>

            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Student Details</h3>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4">
                            <img th:src="${student.photoUrl}" alt="Student Photo"
                                 class="img-fluid img-square">
                        </div>
                        <div class="col-md-8">
                            <p><strong>Full Name:</strong> <span
                                    th:text="${student.name} + ' ' + ${student.surname}"></span></p>
                            <p><strong>Phone:</strong> <span th:text="${student.phone}"></span></p>
                            <p><strong>Parent phone:</strong> <span th:text="${student.parentPhone}"></span></p>
                            <p><strong>Date of Birth:</strong> <span th:text="${student.dateOfBirth}"></span></p>
                            <p><strong>Address:</strong> <span th:text="${student.address}"></span></p>
                            <p><strong>Gender:</strong> <span th:text="${student.gender}"></span></p>
                            <p><strong>StudentStatus:</strong> <span th:text="${student.studentStatus}"></span></p>
                            <p><strong>Study Status:</strong> <span th:text="${student.studyStatus}"></span>
                                <button class="btn btn-primary" role="button" title="Update Study Status"
                                        th:data-student-id="${student.id}"
                                        th:data-status="${student.studyStatus}"
                                        th:data-message="${student.message}"
                                        onclick="openUpdateButton(this)">
                                    <i class="fa">Update</i>
                                </button>
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card my-4">
                <div class="card-header">
                    <div class="d-flex justify-content-between align-items-center">
                        <h3 class="card-title">Student Group</h3>
                        <a th:href="@{'/student_group/go/add/'+${student.id}}"
                           class="btn btn-primary btn-sm" role="button">
                            <i class="fa fa-plus" aria-hidden="true"></i>Add</a>
                    </div>
                </div>
                <div class="card-body">
                    <table class="table table-striped table-sm table-bordered">
                        <thead>
                        <tr>
                            <th>id</th>
                            <th>Group</th>
                            <th>Teacher</th>
                            <th>Subject</th>
                            <th>Group Started Date</th>
                            <th>Group Finished Date</th>
                            <th>Study Status</th>
                            <th>Joined Date</th>
                            <th>Left Date</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="student_group: ${studentGroupList}">
                            <td th:text="${student_groupStat.count}"></td>
                            <td th:text="${student_group.groupName}"></td>
                            <td th:text="${student_group.teacherName}"></td>
                            <td th:text="${student_group.subjectName}"></td>
                            <td th:text="${student_group.groupStartedDate}"></td>
                            <td th:text="${student_group.groupFinishedDate}"></td>
                            <td th:text="${student_group.status}"></td>
                            <td th:text="${student_group.joinedDate}"></td>
                            <td th:text="${student_group.leftDate}"></td>
                            <td>
                                <a th:href="@{'/student_group/go/update/'+${student.id} + '/' + ${student_group.groupId}}"
                                   class="btn btn-danger btn-sm" role="button"
                                   aria-pressed="true"><i class="fa fa-trash" aria-hidden="true"></i></a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <nav aria-label="Pagination" th:if="${totalPages > 0}">
                        <ul class="pagination justify-content-center">
                            <li class="page-item" th:classappend="${currentPage == 1} ? 'disabled'">
                                <a th:replace="~{dashboard/fragments/pagination :: studentGroupPagination(1, '<<', 'First Page', 2)}"></a>
                            </li>
                            <li class="page-item font-weight-bold"
                                th:classappend="${currentPage == 1} ? 'disabled'">
                                <a th:replace="~{dashboard/fragments/pagination :: studentGroupPagination(${currentPage - 1}, 'Prev', 'Previous Page', ${pageSiz})}"></a>
                            </li>
                            <li class="page-item disabled" th:if="${currentPage - 2 > 1}">
                                <a class="page-link" href="#">...</a>
                            </li>
                            <li class="page-item" th:classappend="${page == currentPage} ? 'active'"
                                th:each="page : ${#numbers.sequence(currentPage > 2 ? currentPage - 2 : 1, currentPage + 2 < totalPages ? currentPage + 2 : totalPages)}">
                                <a th:replace="~{dashboard/fragments/pagination :: studentGroupPagination(${page}, ${page}, 'Page ' + ${page}, ${pageSiz})}"></a>
                            </li>
                            <li class="page-item disabled" th:if="${currentPage + 2 < totalPages}">
                                <a class="page-link" href="#">...</a>
                            </li>
                            <li class="page-item font-weight-bold"
                                th:classappend="${currentPage == totalPages} ? 'disabled'">
                                <a th:replace="~{dashboard/fragments/pagination :: studentGroupPagination(${currentPage + 1},'Next', 'Next Page', ${pageSiz})}"></a>
                            </li>
                            <li class="page-item" th:classappend="${currentPage == totalPages} ? 'disabled'">
                                <a th:replace="~{dashboard/fragments/pagination :: studentGroupPagination(${totalPages}, '>>', 'Last Page', ${pageSiz})}"></a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <!-- Page  End-->
    </div>
</div>

<!-- Update student button -->
<button type="button" id="studentUpdateModalButtonId" class="btn btn-primary" hidden
        data-toggle="modal" data-target="#studentUpdateModalId">
    Open modal
</button>
<!-- Update student modal -->
<div class="modal fade" id="studentUpdateModalId">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Study Status</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <!-- Modal Body -->
            <div class="modal-body">
                <form th:action="@{'/student/update-study-status'}" method="POST">
                    <div class="mb-3">
                        <label for="statusSelect" class="form-label">Study Status</label>
                        <select class="form-select" id="statusSelect" name="status">
                            <option value="LEARNING">LEARNING</option>
                            <option value="GRADUATED">GRADUATED</option>
                            <option value="DROPPED_OUT">DROPPED_OUT</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="messageLabel" class="form-label">Message</label>
                        <textarea type="text" class="form-control" id="messageLabel"
                                  name="message" placeholder="Enter a message">
                        </textarea>
                    </div>
                    <input type="hidden" name="studentId" id="updateStudentModalIdInput">
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/jquery.js}"></script>
<script th:src="@{/js/popper.js}"></script>
<script th:src="@{/js/main.js}"></script>
<script th:src="@{/js/sidebar.js}"></script>
<script th:src="@{/js/dashboard/student.js}"></script>

</body>
</html>